@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body{
    background-color: #352a2a;
    font-family: 'Noto Sans', sans-serif;
}

/* alert */
#say-hello{
    display:block;
    background-color: #282899;
    border:2px solid #000000;
    color:#ffffff;
    padding: 10px 20px;
    margin:30px auto;
    cursor: pointer;
    box-shadow:4px 4px 0px 0px #000000;
    font-weight:bold;
}

#say-hello:hover{
    box-shadow:6px 6px 0px 0px #000000;
}

/* prompt */
#write-message{
    display: block;
    background-color: #0d8a35;
    color:#ffffff;
    font-family:Arial, Helvetica, sans-serif;
    margin:20px auto;
    padding: 10px 20px;
    border:3px solid #000000;
    font-weight:bold;
    cursor:pointer;
    /* bo-shadow:h-offset v-offset blur spread; */
    box-shadow: 4px 4px 0px 0px #000000;
}

#write-message:hover{
    box-shadow: 6px 6px 0px 0px #000000;
}

#write-message:focus{
    box-shadow: 6px 6px 0px 0px #000000;
}

/*  querySelectorAll  */
.greating-message-container{
    display:flex;
    height: 100px;
    background-color: #ffffff;
    justify-content:space-around;
    align-items:center;
    border:2px solid #86040b;
}

.greating-message{
    color: #000000;
    background-color: #ffffff;
    font-size: 15px;
    margin:10px 20px;
    padding: 10px 20px;
}

#change-message{
    display: block;
    margin:20px auto;
    padding:10px 20px;
    font-weight:bold;
    background-color:#86040b;
    color:#ffffff;
    border:3px solid #000000;
    cursor:pointer;
    box-shadow: 4px 4px 0px 0px #000000;
}

#change-message:hover{
    box-shadow: 6px 6px 0px 0px #000000;
}

/* getElementById */
.box-colored__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 100px 0;
    /* background-color: green; */
}

#box-colored__item{
    /* background-color: red; */
    background: linear-gradient(rgba(7, 201, 250, 0.425), rgb(20, 156, 111, 0.5));
    width: 200px;
    height: 200px;
    border-radius:5px;
    cursor: pointer;
}